//!!! Strict
//%html{:xmlns => "http://www.w3.org/1999/xhtml"}
//  %head
//    // page title
//    %title
//      = 'App'
//
//    // meta
//    %meta{'http-equiv' => "Content-type", :content => "text/html;charset=UTF-8"}
//
//  %body
= yield
